:root {
    --body-color: #16a085;
    --content-color: #1abc9c;
    --sick-color: #9e9e9e;
    --strong-color: #795548;
    --both-color: #ff9800;
    --button-color: #2ecc71;
    --text-color: white;
    --header-color: #27ae60;
    --warning-text-color: red;
}

body {
    display: grid;
    background-color: var(--body-color);
}

.content {
    display: grid;
    width: 75%;
    justify-self: center;
    /*justify-content: center;*/
    background-color: var(--content-color);
    border: 1px solid black;
}

#speedInput {
    width: 50px;
}

.speedArea {
    display: flex;
    justify-content: space-evenly;
}

.areaBtn {
    display: flex;
    /*grid-template-rows: 1fr;*/
    /* grid-template-columns: repeat(4, 1fr); */
    justify-content: space-evenly;
}

.sick {
    background: var(--sick-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.strong {
    background: var(--strong-color);
    height: 40px;
    width: 40px;
    border-radius: 40%;
}

.areaKick {
    justify-content: center;
    display: grid;
    text-align: center;
    /*grid-template-rows: repeat(9, 1fr);*/
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.both {
    background: var(--both-color);
    height: 50px;
    width: 50px;
    border-radius: 30%;
}

.screen {
    height: 60px;
}

.divScreen {
    display: grid;
    justify-content: center;
    height: 55px;
}

.clearAll {
    background: var(--content-color);
    height: 60px;
}

button {
    /*border-radius: 33%;*/
    /*width: 50px;*/
    background: var(--button-color);
    color: white;
    border: 1px solid black;
}

label {
    color: var(--text-color);
}

#text {
    display: grid;
    justify-content: center;
    justify-items: center;
    color: var(--text-color);
}

header {
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    /* justify-content: center;
    align-content: center; */
    color: white;
    border: 1px solid black;
    /* position: sticky;
    top: 0; */
    padding: 1%;
    background: var(--header-color);
}
    

a {
    text-decoration: none;
    color: var(--text-color);
}

form {
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: repeat(2, 1fr);
}

/*footer {*/
/*    position: sticky;*/
/*     bottom: 0; */
/*}*/

#response {
    color: var(--warning-text-color);
    text-align: center;
}

#modal {
    display: none;
    position: fixed;
    background: var(--content-color);
    justify-self: center;
    align-self: center;
}